################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/GeekShopping/.vs/GeekShopping/FileContentIndex/e87c126a-c038-4121-824c-1dbedacdd3f9.vsidx
/GeekShopping/.vs/GeekShopping/v17
/GeekShopping/.vs/GeekShopping/FileContentIndex
